* {
	color: #FFF;
	background: transparent;
	font-size: 15px;
}

label {
	font-weight: normal;
}

ul {
	padding-left: 0; /*Bootstrap always gives padding left 40px*/
	margin-bottom: 0;
}

ul li {
	list-style: none;
}

body {
	background: url("../images/starry.png") 0px 0px repeat;
}

.navbar-default {
    border-color: rgb(36, 131, 255);
}

.bodyContainer {
	min-height: 500px;
}

.navbar-default {
	background: transparent;
	color: #FFF;
}

#bs-navbar-collapse-1 {
	background: transparent;
}

.headerPanel #logoPanel {
	position: relative;
}

.headerPanel .navbar .navbar-nav li a {
	color: #FFF;
}

.projectOuterContainer {
	/*border: 3px outset #941C1C;*/
	margin-top: 15px;
	border-radius: 3px;
}

.cv-img {
	width: 75px;
}

.headerPanel .navbar .navbar-nav li:hover,
.headerPanel .navbar .navbar-nav li a:hover,
.projectOuterContainer:hover,
#aboutPage .cv-img:hover,
.panel.panel-default:hover {
	-webkit-box-shadow: 0px -1px 5px 6px rgb(36, 131, 255);
    -moz-box-shadow: 0px -1px 5px 6px rgb(36, 131, 255);
    box-shadow: 0px -1px 5px 6px rgb(36, 131, 255);
}

/*
.projectOuterContainer .projectName {
	margin: 0;
	padding: 5px 10px;
	font-size: 18px;
	background: rgba(0, 3, 255, 0.5);
	border-bottom: 2px outset rgb(0, 3, 255);
}

.projectOuterContainer .projectDesc {
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
}
*/

footer {
	text-align: center;
}

#aboutPage .cv-img {
	max-height: 200px;
}

#aboutPage .aboutBox {
	margin-top: 30px;
	font-size: 22px;
}

.blueHighlight:hover {
	color: rgb(185, 203, 255);
}

.blueBorder {
	border: 1px solid rgb(36, 131, 255);
	border-radius: 4px;
}

.autoText {
	padding-top: 10px;
}

.autoText label {	
	width: 100%;
	padding: 5px 9px;
	min-height: 50px;
	font-size: 22px;
}

.panel.panel-default {
	background-color: transparent;
	/*border-color: rgb(36, 131, 255);*/
	border: none;
}

.panel.panel-default .panel-heading {
	padding: 5px 10px;
    background: rgba(0, 3, 255, 0.5);
    border-bottom: 2px outset rgb(0, 3, 255);
    color: #FFF;
}

.panel.panel-default .panel-heading .panel-title {
	font-size: 20px;
}

.panel.panel-default .panel-body {
	padding: 10px;
    background: rgba(0, 0, 0, 0.75);
}

.projectsListContainer .projectCapsule {
	cursor: pointer;
	margin-bottom: 10px;
}

.projectsListContainer .fa {
	color: rgb(107, 171, 255);
	font-size: 17px;
	margin-right: 5px;
}

.projectsListContainer .projectDesc {
	height: 120px;
	overflow: auto;
}

.projectsListContainer .projectDesc img {
	height: 100px;
	width: 100px;
	margin: 0 10px 0 0;
}

.projectsListContainer .projectDesc .techUsed {
	margin-top: 5px;
}

@media (min-width: 768px) {
	.autoText label {
		margin-top: 13px;
		padding-left: 80px;
	}

	.cv-img-link {
		position: absolute;
		left: 9px;
	}

	.headerPanel .navbar .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-default {
		border: none;
		margin-top: 9px;
	}

	.navbar-nav>li,
	.navbar-nav>li>a {
		margin-left: 5px;
    	background-color: rgba(36, 131, 255, .2);
    	border-radius: 50%;
	}
}

@media (max-width: 767px) {
	.autoText {
		padding-top: 0;
	}

	.cv-img-link {
		display: block;
		margin: 7px 0;
	}

	.cv-img {
		display: block;
    	margin: 0 auto;
	}

	/*In mobile devices stars will keep scrolling automatically*/
	.liveSky {
		background: url("../images/starry.png") 0px 0px repeat;
    	-webkit-animation-duration: 10000s; 
    	animation-duration: 10000s;
    	/*animation-direction: alternate;*/
    	animation-timing-function: linear;
    	/*-webkit-animation-fill-mode: both; 
	    animation-fill-mode: both; */
	    animation-iteration-count:infinite; 
	    -webkit-animation-iteration-count:infinite;
	    -webkit-animation-name: moveStars; 
    	animation-name: moveStars; 
	} 

	@-webkit-keyframes moveStars { 
	    0% {background-position: 0px 0px;} 
	    100% {background-position: 0px 1000000px;} 
	}

	@keyframes moveStars { 
	    0% {background-position: 0px 0px;} 
	    100% {background-position: 0px 1000000px;} 
	}
}
