* {
	color: #FFF;
	background: transparent;
}

ul {
	padding-left: 0; /*Bootstrap always gives padding left 40px*/
	margin-bottom: 0;
}

ul li {
	list-style: none;
}

body {
	background: url("../images/starry.png") 0px 0px repeat;
}

.bodyContainer {
	min-height: 500px;
}

.navbar-default {
	background: transparent;
	color: #FFF;
}

#bs-navbar-collapse-1 {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.headerPanel #logoPanel .logo {
	color: #FFF;
	font-size: 35px;
	text-decoration: none !important;
}

.headerPanel #logoPanel .logo:hover {
	
}

.headerPanel .navbar .navbar-nav li a {
	color: #FFF;
}

.headerPanel .navbar .navbar-nav li:hover,
.headerPanel .navbar .navbar-nav li a:hover {
	background: rgba(255, 255, 255, .3);
	color: #FFF;
}

.projectOuterContainer {
	/*border: 3px outset #941C1C;*/
	margin-top: 15px;
	border-radius: 3px;
}

.projectOuterContainer:hover {
	/*border-style: inset;*/
}

.projectOuterContainer .projectName {
	margin: 0;
	padding: 5px 10px;
	font-size: 18px;
	background: rgba(0, 3, 255, 0.5);
	border-bottom: 2px outset rgb(0, 3, 255);
}

.projectOuterContainer .projectDesc {
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
}

footer {
	text-align: center;
}

@media (min-width: 768px) {
	.headerPanel .navbar .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
