<div id="aboutPage" class="row">
	<div class="col-xs-12 col-sm-3 col-md-2">
		<img src="images/myPic/2.jpg" class="cv-img img-responsive img-circle center-block" />
	</div>
	<div class="exp col-xs-12 col-sm-9 col-md-6">
		<label class="col-xs-6 col-sm-5 col-md-4">Name</label>
		<label class="totalExp col-xs-6 col-sm-7 col-md-8">Suman Barick</label>

		<label class="col-xs-6 col-sm-5 col-md-4">Total Experience</label>
		<label class="totalExp col-xs-6 col-sm-7 col-md-8">3 years 10 months</label>		
	</div>
</div>