<div id="aboutPage" class="row">
	<div class="col-xs-12 col-sm-3 col-md-1">
		<img src="images/myPic/2.jpg" class="cv-img img-responsive img-circle center-block" />
	</div>

	<div class="col-xs-12 col-sm-9 col-md-11">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Intro</h3>
			</div>
			<div class="panel-body">
			    Hi, I am Suman Barick and I love to create new things. Coding is my passion. Someday I will create some real game.
			</div>
		</div>
	</div>

	<div class="aboutBox col-xs-12 col-sm-9 col-md-6">	

		<label class="col-xs-6 col-sm-5 col-md-4"><span class="blueHighlight">Name</span></label>
		<label class="totalExp col-xs-6 col-sm-7 col-md-8"><span class="blueHighlight">Suman Barick</span></label>

		<label class="col-xs-6 col-sm-5 col-md-4"><span class="blueHighlight">Total Experience</span></label>
		<label class="totalExp col-xs-6 col-sm-7 col-md-8"><span class="blueHighlight">3 years 10 months</span></label>		
	</div>
</div>
