<div id="aboutPage" class="row">
	<!-- 1st line -->	
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Intro</h3>
			</div>
			<div class="panel-body">
			    Hi, I am Suman Barick and I love to create new things. Coding is my passion. Someday I will create some real games.
			</div>
		</div>
	</div>

	<!-- 2nd line -->
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Experience</h3>
			</div>
			<div class="panel-body">
			    Hi, I am Suman Barick and I love to create new things. Coding is my passion. Someday I will create some real game.
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Experience</h3>
			</div>
			<div class="panel-body">
			    Hi, I am Suman Barick and I love to create new things. Coding is my passion. Someday I will create some real game.
			</div>
		</div>
	</div>
</div>
