<ul class="projectsListContainer">
	<!--<li data-ng-repeat="project in projects" class="col-xs-12 col-sm-6 col-md-4 projectCapsule" data-url="{{project.url}}" data-ng-click="goToUrl($event)">-->
	<li data-ng-repeat="project in projects" class="col-xs-12 col-sm-6 col-md-4 projectCapsule">
		<a href="{{project.url}}" target="_blank" class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title projectName">
			    	{{project.name}}
			    </h3>
			</div>
			<div class="panel-body projectDesc">				
				<img data-ng-src="{{project.imgUrl}}" class="pull-left">
				<div class="info">
					<i class="fa fa-info-circle"></i>
					{{project.desc}}
				</div>
				<div class="techUsed">
					<i class="fa fa-cog fa-spin"></i>
					{{project.techUsed}}
				</div>
				<div class="category">
					<i class="fa fa-flag"></i>
					{{project.category}}
				</div>						
			</div>
		</a>
	</li>
</ul>
